body {
    font: 20px arial, sans-serif;
}

.navbar {
    background-color: #229988;
}

.quem-somos {
    background-color: #585858;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #58faf8;
}

.bg-footer {
    background-color: black;
    color: white;
}